In [55]:
import pandas as pd
import numpy as np

In [56]:
data = pd.read_excel("URINELOTS.xlsx")
data = data[['RAMJA Results','AIIMS Result culture']]
data.columns = ['RAMJA','AIIMS']

In [57]:
TotalSamples  = data.shape[0]
TotalSamples

146

In [58]:
data.head()

                                               RAMJA                  AIIMS
0                              Enterococcus faecalis  Enterococcus faecalis
1                                                NaN          Contamination
2  E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...                 E.coli
3  K.pneumoniae, E. faecalis, P. mirabilis,  A. b...          CONTAMINATION
4                                                NaN                    NaN

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RAMJA   143 non-null    object
 1   AIIMS   119 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB

In [60]:
Nill = data.isnull().sum(axis=0)

In [61]:
Nill

RAMJA     3
AIIMS    27
dtype: int64

In [62]:
import re
def cleanup(text):
    text = str(text)
    text = text.upper()
    text = text.replace(".", " ")
    text = text.replace(" AND ", " ")
    text = re.sub(r'\s+', ' ', text)  # Use re.sub for regular expression replacement
    text = text.strip()
    return text

In [63]:
bacteriatypes = {
    "COLI" : 'Escherichia coli', 
    "PNEUMO" : 'Klebsiella pneumoniae',
    "AERUGI" : 'Pseudomonas aeruginosa',
    "BAUMAN" : 'Acinetobacter baumannii', 
    "MIRABIL" : 'Proteus mirabilis', 
    "FAECALI" : 'Enterococcus faecalis', 
    "AUREUS" : 'Staphylococcus aureus', 
    "SAPROPHY" : 'Staphylococcus saprophyticus',
    "STERI" : 'Sterile'
}

In [64]:
data['cleanRAMJA'] = data['RAMJA'].apply(cleanup)
data['cleanAIIMS'] = data['AIIMS'].apply(cleanup)

In [65]:
data.head()

,RAMJA,AIIMS,cleanRAMJA,cleanAIIMS
0,Enterococcus faecalis,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,ENTEROCOCCUS FAECALIS
1,NaN,Contamination,NAN,CONTAMINATION
2,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...",E.coli,"E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",E COLI
3,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...",CONTAMINATION,"K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",CONTAMINATION
4,NaN,NaN,NAN,NAN

In [66]:
data.shape

(146, 4)

In [67]:
def check(mainstring, s1, s2):
    if (mainstring.count(s1) > 0 or mainstring.count(s2) > 0):
        #print("YES")
        return(1)
    else:
        #print("NO")
        return(0)

In [68]:
genus = ["ESCHER","KLEBS","PSEUDO","ACINE","PROT","ENTER","AURE","SAPRO","STERI","CONTA","NAN"]
species = ["COLI", "PNEUMO", "AERUGI", "BAUMAN", "MIRABIL", "FAECALI", "AUREUS", "SAPROPHY", "STERI","CONTA","NAN"]
for s1, s2 in zip(genus,species):
    data[s2] = data['cleanRAMJA'].apply(lambda x: check(x, s1, s2))

In [69]:
data.shape

(146, 15)

In [70]:
#data.to_excel("test1.xlsx")

In [71]:
data

RAMJA                                                     AIIMS                  cleanRAMJA                                              cleanAIIMS             COLI  PNEUMO  AERUGI  BAUMAN  MIRABIL  FAECALI  AUREUS  SAPROPHY  STERI  CONTA  NAN
Sterile                                                   Sterile                STERILE                                                 STERILE                0     0       0       0       0        0        0       0         1      0      0      26
                                                          Contamination          STERILE                                                 CONTAMINATION          0     0       0       0       0        0        0       0         1      0      0       4
                                                          Klebsiella pneumoniae  STERILE                                                 KLEBSIELLA PNEUMONIAE  0     0       0       0       0        0        0       0         1      0      0       2
E. Coli                                                   Sterile                E COLI                                                  STERILE                1     0       0       0       0        0        0       0         0      0      0       2
 A baumannii, E.Faecalis, S aureus                        Enterococcus faecalis  A BAUMANNII, E FAECALIS, S AUREUS                       ENTEROCOCCUS FAECALIS  0     0       0       1       0        1        1       0         0      0      0       1
                                                                                                                                                                                                                                                       ..
E. Coli, Pseudomonas, P.mirabilis, E.Faecalis, S. aureus  E.coli,A.Baumini       E COLI, PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS  E COLI,A BAUMINI       1     0       1       0       1        1        1       0         0      0      0       1
E. Coli, P.mirabilis, S aureus                            sterile                E COLI, P MIRABILIS, S AUREUS                           STERILE                1     0       0       0       1        0        1       0         0      0      0       1
E. Coli, P aeruginosa, S aureus                           Sterile                E COLI, P AERUGINOSA, S AUREUS                          STERILE                1     0       1       0       0        0        1       0         0      0      0       1
E. Coli, P aeruginosa, A baumannii                        sterile                E COLI, P AERUGINOSA, A BAUMANNII                       STERILE                1     0       1       1       0        0        0       0         0      0      0       1
Sterile                                                   contamination          STERILE                                                 CONTAMINATION          0     0       0       0       0        0        0       0         1      0      0       1
Length: 88, dtype: int64