In [3]:
import numpy as np
import pandas as pd

In [1]:
!pip install thefuzz

Collecting thefuzz
  Obtaining dependency information for thefuzz from https://files.pythonhosted.org/packages/82/4f/1695e70ceb3604f19eda9908e289c687ea81c4fecef4d90a9d1d0f2f7ae9/thefuzz-0.22.1-py3-none-any.whl.metadata
  Downloading thefuzz-0.22.1-py3-none-any.whl.metadata (3.9 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Obtaining dependency information for rapidfuzz<4.0.0,>=3.0.0 from https://files.pythonhosted.org/packages/ec/3b/e890c17abc3edabfbd2b1e97079fd0253b22fba9c24fee230043ae850a23/rapidfuzz-3.9.7-cp39-cp39-win_amd64.whl.metadata
  Downloading rapidfuzz-3.9.7-cp39-cp39-win_amd64.whl.metadata (12 kB)
Downloading thefuzz-0.22.1-py3-none-any.whl (8.2 kB)
Downloading rapidfuzz-3.9.7-cp39-cp39-win_amd64.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ----- ---------------------------------- 0.2/1.7 MB 4.6 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.7 MB 5.2 MB/s eta 0:00:01
   ----------------- ---------------------- 0.7/1.7 MB 5.9 MB/s eta 0:00:01
   ------------------------ --------------- 1.0/1.7 MB 5.9 MB/s eta 0:00:01
   -------------------------------- ------- 1.4/1.7 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  1.7/1.7 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 6.6 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.9.7 thefuzz-0.22.1

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from thefuzz import fuzz
from thefuzz import process

# Check the similarity score
name = "Kurtis Pykes"
full_name = "Kurtis K D Pykes"

print(f"Similarity score: {fuzz.ratio(name, full_name)}")

"""
Similarity Score: 86
"""

Similarity score: 86

'\nSimilarity Score: 86\n'

In [1]:
from thefuzz import fuzz
from thefuzz import process

# Check the similarity score
name = "pneumoniae"
full_name = "K.pneumoniae"
#full_name = "E.Coli, K.pneumoniae, P. aeruginosa, A. baumanni and S. aureus"
print(f"Similarity score: {fuzz.ratio(name, full_name)}")

Similarity score: 91

In [4]:
data = pd.read_excel("RAWLOT1.xlsx")

In [9]:
data.columns = ['UHID', 'RAMJA', 'AIIMS']
data

,UHID,RAMJA,AIIMS
0,20220065432,Enterococcus faecalis,Enterococcus faecalis
1,20240016182,NaN,Contamination
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...",E.coli
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...",CONTAMINATION
4,20201415102,NaN,NaN
...,...,...,...
115,20170059075,Sterile,Sterile
116,20210062776,Sterile,Sterile
117,20240043449,Sterile,Sterile
118,20240076642,Sterile,Sterile
119,20240094375,Sterile,NaN

In [11]:
data['RAMJA'] = data['RAMJA'].str.upper()

In [12]:
data

,UHID,RAMJA,AIIMS
0,20220065432,ENTEROCOCCUS FAECALIS,Enterococcus faecalis
1,20240016182,NaN,Contamination
2,20230125389,"E.COLI, K.PNEUMONIAE, P. AERUGINOSA, A. BAUMAN...",E.coli
3,20180022685,"K.PNEUMONIAE, E. FAECALIS, P. MIRABILIS, A. B...",CONTAMINATION
4,20201415102,NaN,NaN
...,...,...,...
115,20170059075,STERILE,Sterile
116,20210062776,STERILE,Sterile
117,20240043449,STERILE,Sterile
118,20240076642,STERILE,Sterile
119,20240094375,STERILE,NaN