In [53]:
import pandas as pd
import numpy as np

In [54]:
data = pd.read_excel("bacteria.xlsx")
#data = data.iloc[:,1:2]
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
1,20240016182,Shyanu,NaN
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
4,20201415102,Jyoti,NaN

In [55]:
data = data.dropna()

In [56]:
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus"

In [57]:
import re
def cleanup(name):
    name = name.upper()
    name = name.replace("."," ")
    name = name.replace(" AND ", " ")
    name = re.sub(r'\s+', ' ', name) 
    name = name.strip()
    return name

In [58]:
data['cleanresults'] = data['RAMJA Results'].apply(cleanup)

In [59]:
data.head()

,UHID,Patients Name,RAMJA Results,cleanresults
0,20220065432,Sahroj,Enterococcus faecalis,ENTEROCOCCUS FAECALIS
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis...","E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS"

In [60]:
def check(s2, s1):
    if (s2.count(s1) > 0):
        #print("YES")
        return(1)
    else:
        #print("NO")
        return(0)


s2 = "E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI"
s1 = "E COLI"
check(s2, s1)

1

In [61]:
for species in ["COLI", "PNEMO","AERUGI", "BAUMAN", "MIRABIL", "FAECALI", "AUREUS", "SAPROPHY", "STERI"]:
    data[species] = data['cleanresults'].apply(lambda x: check(x, s1=species))

In [62]:
data.head()

,UHID,Patients Name,RAMJA Results,cleanresults,COLI,PNEMO,AERUGI,BAUMAN,MIRABIL,FAECALI,AUREUS,SAPROPHY,STERI
0,20220065432,Sahroj,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,0,0,0,0,0,1,0,0,0
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",1,0,1,1,0,0,1,0,0
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",0,0,0,1,1,1,1,0,0
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis...","E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S...",1,0,0,1,1,1,1,0,0
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",0,0,0,0,1,1,1,0,0

In [63]:
bacteriattypes = {
    "COLI" : 'Escherichia coli', 
    "PNEMO" : 'Klebsiella pneumoniae',
    "AERUGI" : 'Pseudomonas aeruginosa',
    "BAUMAN" : 'Acinetobacter baumannii', 
    "MIRABIL" : 'Proteus mirabilis', 
    "FAECALI" : 'Enterococcus faecalis', 
    "AUREUS" : 'Staphylococcus aureus', 
    "SAPROPHY" : 'Staphylococcus saprophyticus',
    "STERI" : 'Sterile'
}

#bacteriattypes = ['Escherichia coli', 'Klebsiella pneumoniae','Pseudomonas aeruginosa', 'Acinetobacter baumannii', 'Proteus mirabilis', 'Enterococcus faecalis', 'Staphylococcus aureus','Staphylococcus saprophyticus']

In [64]:
data['COLI'].unique()

array([0, 1], dtype=int64)