In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel("bacteria.xlsx")
#data = data.iloc[:,1:2]
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
1,20240016182,Shyanu,NaN
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
4,20201415102,Jyoti,NaN

In [11]:
data.shape

(146, 3)

In [10]:
bacteria[0].upper()

'ENTEROCOCCUS FAECALIS'

In [13]:
data = data.dropna()

In [16]:
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus"

In [14]:
bacteria = data['RAMJA Results']

In [20]:
def cleanup(name):
    #name = name.replace(";","")
    #name = name.strip()
    name = name.upper()
    return name

In [21]:
data['RAMJA Results'].apply(cleanup)

0                                  ENTEROCOCCUS FAECALIS
2      E.COLI, K.PNEUMONIAE, P. AERUGINOSA, A. BAUMAN...
3      K.PNEUMONIAE, E. FAECALIS, P. MIRABILIS,  A. B...
5      E.COLI, A. BAUMANNII, P.MIRABILIS, E. FAECALIS...
6        PSEUDOMONAS, P.MIRABILIS, E.FAECALIS, S. AUREUS
                             ...
141                                              STERILE
142                                              STERILE
143                                              STERILE
144                                      S SAPROPHYTICUS
145                                              STERILE
Name: RAMJA Results, Length: 143, dtype: object