In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_excel("URINELOTS.xlsx")
#data = data.iloc[:,1:2]
data.head()

,S.No,Patients Name,Age,Gender,Date,UHID,RAMJA Results,AIIMS Result culture,E.coli,K. Pneumoniae,P.aurogenosa,A.baumnnii,P.mirabilis,E.faecalis,S. aureus,S. saprophyticus
0,1,Sahroj,33.0,F,13/02/2024,20220065432,Enterococcus faecalis,Enterococcus faecalis,NaN,NaN,-5.26086,-4.09794,-3.58480,-8.10731,-5.62819,NaN
1,2,Shyanu,70.0,F,15/02/2024,20240016182,NaN,Contamination,-6.63325,-10.1276,-8.30086,-13.22480,-11.94120,-13.64090,-14.93870,NaN
2,3,Saloni,19.0,F,15/02/2024,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...",E.coli,-15.30980,-10.0174,-9.09993,-8.30414,-5.06676,-5.42121,-8.77797,NaN
3,4,Ravita,34.0,F,15/02/2024,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...",CONTAMINATION,-7.70704,-8.0891,-4.79176,-8.63416,-11.84570,-9.31657,-9.90339,
4,5,Jyoti,28.0,F,15/02/2024,20201415102,NaN,NaN,0.00000,0.0000,0.00000,0.00000,0.00000,0.00000,0.00000,NaN

In [20]:
data.shape

(146, 16)

In [21]:
data = data.dropna(subset=['RAMJA Results','AIIMS Result culture'])

In [22]:
data.shape

(118, 16)

In [44]:
resultsRAMJA = data[['UHID','RAMJA Results']]

In [53]:
resultsAIIMS = data[['UHID','AIIMS Result culture']]

In [26]:
#results = data[['UHID','RAMJA Results','AIIMS Result culture']]

In [106]:
""" import re
def cleanup(name):
    name = name.upper()
    name = name.replace("."," ")
    name = name.replace(" AND ", " ")
    name = re.sub(r'\s+', ' ', name) 
    name = name.strip()
    return name """

In [46]:
""" import re

def cleanup(series):
    series = series.str.upper()
    series = series.str.replace(".", " ")
    series = series.str.replace(" AND ", " ")
    series = series.str.replace(r'\s+', ' ', regex=True)
    series = series.str.strip()
    return series """

In [48]:
def cleanup(text):
    text = text.upper()
    text = text.replace(".", " ")
    text = text.replace(" AND ", " ")
    text = re.sub(r'\s+', ' ', text)  # Use re.sub for regular expression replacement
    text = text.strip()
    return text

In [51]:
resultsRAMJA['cleanRAMJA'] = resultsRAMJA['RAMJA Results'].apply(cleanup)

C:\Users\neelesh\AppData\Local\Temp\ipykernel_12084\766998183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsRAMJA['cleanRAMJA'] = resultsRAMJA['RAMJA Results'].apply(cleanup)

In [52]:
resultsRAMJA.head()

,UHID,RAMJA Results,cleanresults,cleanRAMJA
0,20220065432,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,ENTEROCOCCUS FAECALIS
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI..."
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA..."
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI..."
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS"

In [54]:
resultsAIIMS['cleanAIIMS'] = resultsAIIMS['AIIMS Result culture'].apply(cleanup)

C:\Users\neelesh\AppData\Local\Temp\ipykernel_12084\265187514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsAIIMS['cleanAIIMS'] = resultsAIIMS['AIIMS Result culture'].apply(cleanup)

In [56]:
resultsAIIMS.head()

          UHID   AIIMS Result culture             cleanAIIMS
0  20220065432  Enterococcus faecalis  ENTEROCOCCUS FAECALIS
2  20230125389                 E.coli                 E COLI
3  20180022685          CONTAMINATION          CONTAMINATION
5  20240012395                 E.coli                 E COLI
6  20220166372    E.coli & Pseudomnas    E COLI & PSEUDOMNAS

In [28]:
#results[['cleanRAMJA','cleanAIIMS']] = results[['RAMJA Results','AIIMS Result culture']].apply(cleanup)

C:\Users\neelesh\AppData\Local\Temp\ipykernel_12084\1989951097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  series = series.str.replace(".", " ")
C:\Users\neelesh\AppData\Local\Temp\ipykernel_12084\103859725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[['cleanRAMJA','cleanAIIMS']] = results[['RAMJA Results','AIIMS Result culture']].apply(cleanup)
C:\Users\neelesh\AppData\Local\Temp\ipykernel_12084\103859725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[['cleanRAMJA','cleanAIIMS']] = results[['RAMJA Results','AIIMS Result culture']].apply(cleanup)

In [29]:
results.head()

,UHID,RAMJA Results,AIIMS Result culture,cleanRAMJA,cleanAIIMS
0,20220065432,Enterococcus faecalis,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,ENTEROCOCCUS FAECALIS
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...",E.coli,"E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",E COLI
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...",CONTAMINATION,"K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",CONTAMINATION
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...",E.coli,"POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...",E COLI
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus",E.coli & Pseudomnas,"PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",E COLI & PSEUDOMNAS

In [34]:
results = results.iloc[:,[0,1,3,2,4]]

In [37]:
results.head()

,UHID,RAMJA Results,cleanRAMJA,AIIMS Result culture,cleanAIIMS,COLI,PNEUMO,AERUGI,BAUMAN,MIRABIL,FAECALI,AUREUS,SAPROPHY,STERI
0,20220065432,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,0,0,0,0,0,1,0,0,0
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",E.coli,E COLI,1,1,1,1,0,0,1,0,0
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",CONTAMINATION,CONTAMINATION,0,1,0,1,1,1,1,0,0
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...",E.coli,E COLI,1,0,0,1,1,1,1,0,0
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",E.coli & Pseudomnas,E COLI & PSEUDOMNAS,0,0,0,0,1,1,1,0,0

In [39]:
def check(s2, s1):
    if (s2.count(s1) > 0):
        #print("YES")
        return(1)
    else:
        #print("NO")
        return(0)


s2 = "E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI"
s1 = "E COLI"
check(s2, s1)

1

In [40]:
for species in ["COLI", "PNEUMO","AERUGI", "BAUMAN", "MIRABIL", "FAECALI", "AUREUS", "SAPROPHY", "STERI"]:
    results[species] = results['cleanRAMJA'].apply(lambda x: check(x, s1=species))

In [41]:
results.head()

,UHID,RAMJA Results,cleanRAMJA,AIIMS Result culture,cleanAIIMS,COLI,PNEUMO,AERUGI,BAUMAN,MIRABIL,FAECALI,AUREUS,SAPROPHY,STERI
0,20220065432,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,0,0,0,0,0,1,0,0,0
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",E.coli,E COLI,1,1,1,1,0,0,1,0,0
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",CONTAMINATION,CONTAMINATION,0,1,0,1,1,1,1,0,0
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...",E.coli,E COLI,1,0,0,1,1,1,1,0,0
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",E.coli & Pseudomnas,E COLI & PSEUDOMNAS,0,0,0,0,1,1,1,0,0

In [42]:
for species in ["COLI", "PNEUMO","AERUGI", "BAUMAN", "MIRABIL", "FAECALI", "AUREUS", "SAPROPHY", "STERI"]:
    results[species] = results['cleanAIIMS'].apply(lambda x: check(x, s1=species))

In [43]:
results.head()

,UHID,RAMJA Results,cleanRAMJA,AIIMS Result culture,cleanAIIMS,COLI,PNEUMO,AERUGI,BAUMAN,MIRABIL,FAECALI,AUREUS,SAPROPHY,STERI
0,20220065432,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,0,0,0,0,0,1,0,0,0
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",E.coli,E COLI,1,0,0,0,0,0,0,0,0
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",CONTAMINATION,CONTAMINATION,0,0,0,0,0,0,0,0,0
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...",E.coli,E COLI,1,0,0,0,0,0,0,0,0
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",E.coli & Pseudomnas,E COLI & PSEUDOMNAS,1,0,0,0,0,0,0,0,0

In [92]:
bacteriatypes = {
    "COLI" : 'Escherichia coli', 
    "PNEUMO" : 'Klebsiella pneumoniae',
    "AERUGI" : 'Pseudomonas aeruginosa',
    "BAUMAN" : 'Acinetobacter baumannii', 
    "MIRABIL" : 'Proteus mirabilis', 
    "FAECALI" : 'Enterococcus faecalis', 
    "AUREUS" : 'Staphylococcus aureus', 
    "SAPROPHY" : 'Staphylococcus saprophyticus',
    "STERI" : 'Sterile'
}

#bacteriattypes = ['Escherichia coli', 'Klebsiella pneumoniae','Pseudomonas aeruginosa', 'Acinetobacter baumannii', 'Proteus mirabilis', 'Enterococcus faecalis', 'Staphylococcus aureus','Staphylococcus saprophyticus']

In [93]:
ramjaresults["COLI"].value_counts()

0    75
1    43
Name: COLI, dtype: int64

In [94]:
print(bacteriatypes)

{'COLI': 'Escherichia coli', 'PNEUMO': 'Klebsiella pneumoniae', 'AERUGI': 'Pseudomonas aeruginosa', 'BAUMAN': 'Acinetobacter baumannii', 'MIRABIL': 'Proteus mirabilis', 'FAECALI': 'Enterococcus faecalis', 'AUREUS': 'Staphylococcus aureus', 'SAPROPHY': 'Staphylococcus saprophyticus', 'STERI': 'Sterile'}

In [97]:
ramjaresults.rename(columns=bacteriatypes, inplace=True)

C:\Users\neelesh\AppData\Local\Temp\ipykernel_4812\958557672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramjaresults.rename(columns=bacteriatypes, inplace=True)

In [99]:
ramjaresults.head()

,UHID,RAMJA Results,cleanRAMJA,Escherichia coli,Klebsiella pneumoniae,Pseudomonas aeruginosa,Acinetobacter baumannii,Proteus mirabilis,Enterococcus faecalis,Staphylococcus aureus,Staphylococcus saprophyticus,Sterile
0,20220065432,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,0,0,0,0,0,1,0,0,0
2,20230125389,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",1,1,1,1,0,0,1,0,0
3,20180022685,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",0,1,0,1,1,1,1,0,0
5,20240012395,"Polymicrobial (E.coli, A. baumannii, P.mirabil...","POLYMICROBIAL (E COLI, A BAUMANNII, P MIRABILI...",1,0,0,1,1,1,1,0,0
6,20220166372,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",0,0,0,0,1,1,1,0,0