In [36]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_excel("bacteria.xlsx")
#data = data.iloc[:,1:2]
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
1,20240016182,Shyanu,NaN
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
4,20201415102,Jyoti,NaN

In [38]:
data.shape

(146, 3)

In [39]:
data = data.dropna()

In [40]:
data.shape

(143, 3)

In [41]:
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus"

In [42]:
import re
def cleanup(name):
    name = name.upper()
    name = name.replace("."," ")
    name = name.replace(" AND ", " ")
    name = re.sub(r'\s+', ' ', name) 
    name = name.strip()
    return name

In [43]:
data['cleanresults'] = data['RAMJA Results'].apply(cleanup)

In [44]:
data.head()

,UHID,Patients Name,RAMJA Results,cleanresults
0,20220065432,Sahroj,Enterococcus faecalis,ENTEROCOCCUS FAECALIS
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis...","E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS"

In [55]:
def check(s2, s1):
    if (s2.count(s1) > 0):
        print("YES")
        return("YES")
    else:
        print("NO")
        return("NO")


s2 = "E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI"
s1 = "E COLI"
check(s2, s1)

YES

'YES'

In [56]:
data['Check Result'] = data['cleanresults'].apply(lambda x: check(x, s1="COLI"))

NO
YES
NO
YES
NO
YES
YES
YES
NO
NO
NO
NO
YES
YES
YES
YES
YES
YES
YES
NO
NO
NO
YES
NO
YES
YES
NO
NO
NO
YES
YES
YES
NO
YES
NO
NO
NO
NO
YES
NO
YES
YES
YES
YES
YES
YES
NO
NO
NO
NO
NO
YES
NO
YES
YES
NO
NO
YES
YES
NO
NO
NO
YES
NO
YES
NO
NO
NO
NO
NO
NO
YES
YES
NO
NO
NO
NO
NO
YES
NO
YES
NO
NO
NO
NO
NO
YES
NO
NO
YES
NO
YES
YES
NO
NO
NO
NO
NO
YES
NO
NO
NO
YES
NO
NO
YES
YES
NO
YES
YES
YES
YES
NO
NO
NO
NO
NO
NO
NO
YES
NO
NO
NO
NO
NO
NO
YES
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO
NO

In [57]:
data.head()

,UHID,Patients Name,RAMJA Results,cleanresults,Check Result
0,20220065432,Sahroj,Enterococcus faecalis,ENTEROCOCCUS FAECALIS,NO
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman...","E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...",YES
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b...","K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...",NO
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis...","E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S...",YES
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus","PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS",NO

In [128]:
# bacteriattypes = {
#     'E Coli': 'Escherichia coli',
#     'K pneumoniae' : 'Klebsiella pneumoniae',
#     'P aeruginosa' : 'Pseudomonas aeruginosa',

#}

bacteriattypes = ['Escherichia coli', 'Klebsiella pneumoniae','Pseudomonas aeruginosa', 'Acinetobacter baumannii', 'Proteus mirabilis', 'Enterococcus faecalis', 'Staphylococcus aureus','Staphylococcus saprophyticus']

In [129]:
bacteria.columns = bacteriattypes

In [130]:
bacteria

,Escherichia coli,Klebsiella pneumoniae,Pseudomonas aeruginosa,Acinetobacter baumannii,Proteus mirabilis,Enterococcus faecalis,Staphylococcus aureus,Staphylococcus saprophyticus
0,ENTEROCOCCUS FAECALIS,None,None,None,None,None,None,None
2,E COLI,K PNEUMONIAE,P AERUGINOSA,A BAUMANNI S AUREUS,None,None,None,None
3,K PNEUMONIAE,E FAECALIS,P MIRABILIS,A BAUMANNI S AUREUS,None,None,None,None
5,E COLI,A BAUMANNII,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None
6,PSEUDOMONAS,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None,None
...,...,...,...,...,...,...,...,...
141,STERILE,None,None,None,None,None,None,None
142,STERILE,None,None,None,None,None,None,None
143,STERILE,None,None,None,None,None,None,None
144,S SAPROPHYTICUS,None,None,None,None,None,None,None
145,STERILE,None,None,None,None,None,None,None

In [131]:
bacteria['Escherichia coli'].unique()

array(['ENTEROCOCCUS FAECALIS', 'E COLI', 'K PNEUMONIAE', 'PSEUDOMONAS',
       'K PNEUMONIAE P AERUIGINOSA', 'STERILE', 'E FAECALIS',
       'KLEBSIELLA PNEUMONIA', 'A BAUMANNII', 'P AERUGINOSA',
       'E COLI K PNEUMONIAE', 'P MIRABILIS', 'K PNEUMONIAE ANS S AUREUS',
       'PSEUDOMONAS S SAPROPHYTICUS', 'E COLI A BAUMANNII',
       'S SAPROPHYTICUS', 'K PNEUMONIAE ANS P AERUGINOSA',
       'E COLI E FAECALIS', 'A BAUMINI', 'A BAUMINNI',
       'K PNEUMONIAE P AERUGINOSA', 'S AUREUS K PNEUMINONEAE',
       'E FECALIS', 'S AUREUS', 'E COLI K PNEUMONEAE', 'E COLI A BAUMINI',
       'ESCHERICHIA COLI', 'S AUREUS S SAPROPHYTICUS'], dtype=object)