In [111]:
import pandas as pd
import numpy as np

In [112]:
data = pd.read_excel("bacteria.xlsx")
#data = data.iloc[:,1:2]
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
1,20240016182,Shyanu,NaN
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
4,20201415102,Jyoti,NaN

In [113]:
data.shape

(146, 3)

In [114]:
data = data.dropna()

In [116]:
data.shape

(143, 3)

In [117]:
data.head()

,UHID,Patients Name,RAMJA Results
0,20220065432,Sahroj,Enterococcus faecalis
2,20230125389,Saloni,"E.Coli, K.pneumoniae, P. aeruginosa, A. bauman..."
3,20180022685,Ravita,"K.pneumoniae, E. faecalis, P. mirabilis, A. b..."
5,20240012395,kedari Devi,"E.coli, A. baumannii, P.mirabilis, E. faecalis..."
6,20220166372,Babita Devi,"Pseudomonas, P.mirabilis, E.Faecalis, S. aureus"

In [119]:
import re
def cleanup(name):
    name = name.upper()
    name = name.replace("."," ")
    name = name.replace(" AND ", " ")
    name = re.sub(r'\s+', ' ', name) 
    name = name.strip()
    return name

In [120]:
data['RAMJA Results'].apply(cleanup)

0                                  ENTEROCOCCUS FAECALIS
2      E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...
3      K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...
5      E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S...
6         PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS
                             ...
141                                              STERILE
142                                              STERILE
143                                              STERILE
144                                      S SAPROPHYTICUS
145                                              STERILE
Name: RAMJA Results, Length: 143, dtype: object

In [124]:
bacteria = data['RAMJA Results'].apply(cleanup)
bacteria

0                                  ENTEROCOCCUS FAECALIS
2      E COLI, K PNEUMONIAE, P AERUGINOSA, A BAUMANNI...
3      K PNEUMONIAE, E FAECALIS, P MIRABILIS, A BAUMA...
5      E COLI, A BAUMANNII, P MIRABILIS, E FAECALIS,S...
6         PSEUDOMONAS, P MIRABILIS, E FAECALIS, S AUREUS
                             ...
141                                              STERILE
142                                              STERILE
143                                              STERILE
144                                      S SAPROPHYTICUS
145                                              STERILE
Name: RAMJA Results, Length: 143, dtype: object

In [125]:
bacteria = bacteria.str.split(',', expand=True)

In [126]:
bacteria

,0,1,2,3,4,5,6,7
0,ENTEROCOCCUS FAECALIS,None,None,None,None,None,None,None
2,E COLI,K PNEUMONIAE,P AERUGINOSA,A BAUMANNI S AUREUS,None,None,None,None
3,K PNEUMONIAE,E FAECALIS,P MIRABILIS,A BAUMANNI S AUREUS,None,None,None,None
5,E COLI,A BAUMANNII,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None
6,PSEUDOMONAS,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None,None
...,...,...,...,...,...,...,...,...
141,STERILE,None,None,None,None,None,None,None
142,STERILE,None,None,None,None,None,None,None
143,STERILE,None,None,None,None,None,None,None
144,S SAPROPHYTICUS,None,None,None,None,None,None,None
145,STERILE,None,None,None,None,None,None,None

In [128]:
# bacteriattypes = {
#     'E Coli': 'Escherichia coli',
#     'K pneumoniae' : 'Klebsiella pneumoniae',
#     'P aeruginosa' : 'Pseudomonas aeruginosa',

#}

bacteriattypes = ['Escherichia coli', 'Klebsiella pneumoniae','Pseudomonas aeruginosa', 'Acinetobacter baumannii', 'Proteus mirabilis', 'Enterococcus faecalis', 'Staphylococcus aureus','Staphylococcus saprophyticus']

In [129]:
bacteria.columns = bacteriattypes

In [130]:
bacteria

,Escherichia coli,Klebsiella pneumoniae,Pseudomonas aeruginosa,Acinetobacter baumannii,Proteus mirabilis,Enterococcus faecalis,Staphylococcus aureus,Staphylococcus saprophyticus
0,ENTEROCOCCUS FAECALIS,None,None,None,None,None,None,None
2,E COLI,K PNEUMONIAE,P AERUGINOSA,A BAUMANNI S AUREUS,None,None,None,None
3,K PNEUMONIAE,E FAECALIS,P MIRABILIS,A BAUMANNI S AUREUS,None,None,None,None
5,E COLI,A BAUMANNII,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None
6,PSEUDOMONAS,P MIRABILIS,E FAECALIS,S AUREUS,None,None,None,None
...,...,...,...,...,...,...,...,...
141,STERILE,None,None,None,None,None,None,None
142,STERILE,None,None,None,None,None,None,None
143,STERILE,None,None,None,None,None,None,None
144,S SAPROPHYTICUS,None,None,None,None,None,None,None
145,STERILE,None,None,None,None,None,None,None

In [131]:
bacteria['Escherichia coli'].unique()

array(['ENTEROCOCCUS FAECALIS', 'E COLI', 'K PNEUMONIAE', 'PSEUDOMONAS',
       'K PNEUMONIAE P AERUIGINOSA', 'STERILE', 'E FAECALIS',
       'KLEBSIELLA PNEUMONIA', 'A BAUMANNII', 'P AERUGINOSA',
       'E COLI K PNEUMONIAE', 'P MIRABILIS', 'K PNEUMONIAE ANS S AUREUS',
       'PSEUDOMONAS S SAPROPHYTICUS', 'E COLI A BAUMANNII',
       'S SAPROPHYTICUS', 'K PNEUMONIAE ANS P AERUGINOSA',
       'E COLI E FAECALIS', 'A BAUMINI', 'A BAUMINNI',
       'K PNEUMONIAE P AERUGINOSA', 'S AUREUS K PNEUMINONEAE',
       'E FECALIS', 'S AUREUS', 'E COLI K PNEUMONEAE', 'E COLI A BAUMINI',
       'ESCHERICHIA COLI', 'S AUREUS S SAPROPHYTICUS'], dtype=object)